* {
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  font-family: "Roboto";
}

.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.morning-bg {
  background-image: url("./images/morning.jpg");
  color: rgb(36, 36, 36);
}
.day-bg {
  background-image: url("./images/day.jpg");
  color: rgb(29, 29, 29);
}
.evening-bg {
  /* background-image: url("./images/evening.jpg"); */
  background-image: url("./images/evening.jpg");
  color: rgb(228, 228, 228);
}

.time {
  padding: 0em 0.4em;
  border-radius: 10px;
  font-size: 80px;
}

#greeting {
  display: flex;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.greeting {
  margin-right: 10px;
}

#task {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 350px) {
  .time {
    font-size: 70px;
  }
}
